.editorconfig
.gitattributes
.htaccess
.travis.yml
CONTRIBUTING.md
README.md
build.properties
build.xml
composer.json
index.php
plugins/
vendors/
lib
/app/Config/*
/app/Console/*
/app/Locale/*
/app/Vendor/*
/app/Test/*
/app/tmp/*
/app/webroot/*
/app/Plugin/*
/app/.stickler.yml/*
/app/Controller/Component/*
/app/Model/Behavior/*
/app/Model/Datasource/*
/app/View/Emails/*
/app/View/Elements/*
/app/View/Errors/*
/app/View/Helper/*
/app/View/Layouts/*
/app/View/Pages/*
/app/View/Scaffolds/*
